@import "tailwindcss";

@config "../tailwind.config.js";

/* 隐藏滚动条但保持滚动功能 */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.sibling-index-delay {
  transition-delay: calc(0.04s * (sibling-index() - 1));
}
